.about {
    max-width: 700px;
    margin: 2rem auto;
    padding: 1rem;
}

.about p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.gallery {
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.gallery picture {
    flex: 1;
}

.gallery img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .gallery {
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .gallery picture {
        flex: 0 0 250px;
    }
    .gallery::-webkit-scrollbar {
        display: none;
    }
}