header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
}

.logo img {
    width: 150px;
    height: auto;
}

.nav-desktop {
    display: flex;
    gap: 2rem;
    padding: 2px 8px;
}

.nav-mobile {
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

nav a:hover,
nav a:focus-visible {
    border-bottom: 2px solid var(--orange);
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    h1 {
        font-size: 2.5rem;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        justify-content: space-around;
        padding: 12px;

        background-color: var(--yellow);
        z-index: 1000;
    }

    nav a {
        font-size: 1rem;
    }
}