<header class="header">

    <div class="logo">
        <img src="logo.svg" alt="Logo">
    </div>

    @if (pageType === '404') {

    } @else if (pageType === 'home') {

    <h1>Lazy Cat</h1>

    <nav class="nav-desktop">
        <a [routerLink]="[]" fragment="menu">Meny</a>
        <a [routerLink]="[]" fragment="about">Om oss</a>
        <a [routerLink]="[]" fragment="contact">Kontakt</a>
    </nav>

    } @else if (pageType === 'login') {

    <h1>Lazy Cat</h1>

    } @else {

    <h1>Lazy Cat Admin</h1>
    <nav>
        <button type="button" (click)="logout()">
            Logga ut
        </button>
    </nav>
    }

</header>

@if (pageType === 'home') {
<nav class="nav-mobile">
    <a [routerLink]="[]" fragment="menu">Meny</a>
    <a [routerLink]="[]" fragment="about">Om oss</a>
    <a [routerLink]="[]" fragment="contact">Kontakt</a>
</nav>
}