@if (selectedItem) {
<app-menu-form [selectedItem]="selectedItem" (closeEdit)="selectedItem = null"></app-menu-form>
}

@for(item of menuItems(); track item.id) {

<div class="menu-item">

  <div class="menu-info">
    <h3>{{ item.name }}</h3>

    <p>{{ item.description }}</p>

    <p>{{ item.price }} kr</p>
  </div>

  <div class="button-group">
    <button (click)="editItem(item)">
      Redigera
    </button>

    <button class="delete" (click)="deleteItem(item.id!)">
      Ta bort
    </button>
  </div>
</div>
}